* {
  margin: 0em;
  padding: 0em;
  box-sizing: border-box;
}

html {
  font-family: Georgia;
}

#span {
  color: black;
}

/*-----------------------------------------------header----------------------------------------------------------*/
header {
  width: 100vw;
  background-color: white;
  position: fixed;
  padding: 0.5em 10em;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav>.h1_span {
  display: inline-flex;
  align-items: center;
}

nav>.h1_span>a>img {
  margin: 0.3em;
}

nav>.h1_span>h1>a {
  text-transform: capitalize;
  text-decoration: none;
  color: rgb(49, 168, 156);
  font-size: 2rem;
}

nav>ul>li {
  display: inline-flex;
  padding: 0.5em;
}

nav>ul>li>a {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1rem;
  color: black;
  font-weight: bold;
}

nav>ul>li>a:hover,
.active {
  color: rgb(49, 168, 156);
}
.submenu {
  display: none;
}

li:hover .submenu {
  display: block;
  position: absolute;
  width: 25%;
  padding: 0.5em;
  margin-top: 1.5em;
  box-shadow: 0px 0px 5px black;
  background-color: white;
}

li:hover .submenu>ul>li {
  list-style: none;
  padding: 0.5em;
}

 li:hover .submenu>ul>li>a {
   text-decoration: none;
   text-transform: capitalize;
   color: black;
 }

 li:hover .submenu>ul>li>a:hover {
   background-color: rgba(0, 0, 0, 0.096);
   color: rgb(49, 168, 156);
   padding: 0.5em 2em;
 }
/*-------------------------------------------------header-----------------------------------------------------------*/

 /*---------------------------------------------------main-----------------------------------------------------------*/
 .div {
   width: 100vw;
   height: 100vh;
   display: flex;
   flex-direction: column;
   padding: 13em 13em;
   background-image: url("../img/bg-top.jpg");
   background-repeat: no-repeat;
   background-size: cover;
 }

 .div>div {
   background-color: white;
   width: 30vw;
   height: 100vh;
   padding: 2em;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
 }

 .div>div>h1 {
   font-size: 2rem;
   color: rgb(49, 168, 156);
 }

 .div>div>p {
   text-transform: lowercase;
   font-size: 1rem;
   line-height: 1.8em;
   color: black;
 }

 .div>div>a {
   text-decoration: none;
   text-transform: uppercase;
   font-size: 0.8rem;
   background-color: rgb(96, 96, 250);
   padding: 0.5em;
   border-radius: 5px;
   width: 8vw;
   color: white;
   font-weight: bold;
 }

 .div>div>a:hover {
   background-color: blue;
   transition: 0.5s;
 }
 /*--------------------------------------------------------------------------------------------------------------------*/
 .mkt{display: flex;
  flex-direction:column;
width: 100vw;
height: 80vh;
gap: 5em;
padding: 2em 10em;
display: flex;
}
.mkt>.h3{display: flex;
width: 80vw;
height: 5vh;
align-items: center;
justify-content: center;
}
.mkt>.h3>h3{font-size: 1.5rem;}

.lcp{display: grid;
grid-template-columns: 1fr 1fr;
width: 80vw;
height: 80vh;
}

.h1_span {
  display: flex;
  flex-direction:row;
}
.h1_span>span>img {
  padding: 0em 0.5em;
}
.h1_span>p {
  font-size: 1rem;
  line-height: 2em;
}
/*----------------------------------------------------------------------------------------------------------------------*/
.people{width: 100vw;
padding: 2em 10em;
}
.people>.h3{width: 80vw;
display: flex;
align-items: center;
justify-content: center;
padding: 1em;
}
.people>.h3>h3{font-size: 1.5rem;
color: rgb(49, 168, 156);
padding: 1em;
}
.people>div{padding: 2em 0em;
display: flex;
align-items: center;
gap: 5em;
}
.people>div>.img{background-image:url("../img/testimonial-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
width: 35vw;
height: 50vh;
}
.people>div>.imgg{
  background-image: url("../img/testimonial-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 35vw;
  height: 50vh;
}
.people>div>p{font-size: 1.2rem;
line-height: 1.5em;
}
.see{background-color:rgba(49, 168, 156, 0.295);
display:flex;
align-items: center;
justify-content: center;
}
#spaan{color: blue;}
/*--------------------------------------------------------------------------------------------------------------------*/
.open {
  width: 100vw;
  height: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
}

.open>h1 {
  color: rgb(49, 168, 156);
}

/*--------------------------------------------------------------------------------------------------------------------*/
.cont {
  width: 100vw;
  padding: 2em 10em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
}

.p {
  border: 0.5px solid rgba(0, 0, 0, 0.363);
  width: 15vw;
  height: 12vh;
  display: flex;
  align-items: center;
  padding-left: 1em;
  border-radius: 8px;
}

/*---------------------------------------------------------------------------------------------------------------------*/
.cont>.span {
  padding-top: 4em;
}

.cont>.sppan {
  width: 60vw;
}

.cont>.sppan>p {
  font-size: 1.2rem;
}

/*---------------------------------------------------------------------------------------------------------------------*/
hr {
  color: rgba(128, 128, 128, 0.137);
  border: 1px solid;
}

/*----------------------------------------------------------------------------------------------------------------------*/
.cont>.sppan>.colom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5em 1em;
  border-radius: 8px;
  border: 0.5px solid rgba(128, 128, 128, 0.096);
}

.cont>.sppan>.colom:hover {
  background-color: rgba(128, 128, 128, 0.096);
}

.cont>.sppan>.colom>span {
  display: flex;
  align-items: center;
}

.cont>.sppan>.colom>span>img {
  padding: 0em 0.5em 0em 0em;
  width: 5vw;
}

.cont>.sppan>.colom>a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  background-color: rgba(128, 128, 128, 0.356);
  padding: 0.5em;
  color: white;
  border-radius: 8px;
}

.cont>.sppan>.colom>a:hover {
  background-color: blue;
}
/*----------------------------------------------------footer-----------------------------------------------------------*/
.fdiv {
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 1em;
}

.fdiv>p {
  text-transform: capitalize;
  font-size: 0.7rem;
  color: black;
}

.fdiv>p>.pol{
  color: blue;
}
/*----------------------------------------------------footer-----------------------------------------------------------*/